h1 Take Picture to Complete Mission
p
img#yourimage style="width:80%; text-align:center;" /

input#takePictureField accept="image/*" capture="camera" type="file" /

p 
= javascript_include_tag "photo"
