.card-container {
  display: inline-block;
  position: relative;

  .card {
    position: relative;
    background-color: white;
    margin-bottom: 20px;
    width: 420px;
    height: 200px;
    margin-left: 15px;
    border-radius: 3px;
    border: 1px solid #e5e4e1;
     
    .photo {
      overflow: hidden;

      img {
       border-top-left-radius: 3px;
       border-top-right-radius: 3px;
       width: 240px;
       height: 200px;
      }
    }

    .details {
      padding: 15px;
      text-align: center;

      ul {
        list-style: none; 
        padding: 0px;
      }
    }
  }
}



